# Gradle
.gradle/
build/
**/build/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
**/bin/

# OS
.DS_Store
Thumbs.db

# Application
storage/
logs/
*.log

# Env
.env

# Vue 빌드 결과물
backend/src/main/resources/static/
